[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
pattern = 'if (area == G.shop_jokers) or (area == G.pack_cards) then'
position = 'after'
match_indent = true
payload = '''


if G.GAME.modifiers.enable_weakened_in_shop then 
  if pseudorandom('weakened' .. G.GAME.round_resets.ante) > 0.7 then 
    SMODS.Stickers['sonfive_weakened']:apply(card, true) 
  end 
end
'''
